body{background: #F4F4F4;min-width: 700px;}
.manageNav{width: 100%;height: 77px;background: #2B2B2B;border-bottom: 3px solid #F5C505;}
.manageNav .logo{float: left;}
.manageNav .logo img{margin-left: 25px;margin-top: 16px;float: left;}
.manageNav .head{float: right;width: 58px;height: 58px;margin-right: 50px;margin-top: 11px;position: relative;}
.manageNav .head .change{position: absolute;width: 160px;padding: 20px;    left: -148px;padding-top: 0;}
.manageNav .head .change p{color: #666666;padding-left: 58px;padding-top: 20px;cursor: pointer;-moz-transition: all .5s;-o-transition: all .5s; -webkit-transition: all .5s;transition: all .5s;}
.manageNav .head .change p:hover{color: #F5C505;-moz-transition: all .5s;-o-transition: all .5s; -webkit-transition: all .5s;transition: all .5s;}
.manageNav .head .change .person{background: url("../images/managementTips.png") no-repeat -266px -401px;}
.manageNav .head .change .quit{background: url("../images/managementTips.png") no-repeat -349px 21px;}
.manageNav .head .change .changeBac{background: #fff;border-radius: 8px;padding-bottom: 20px;}
.manageNav .inform{float: right;color: #fff;width: 19px;height: 21px;margin-top: 28px;margin-right: 32px;background: #2B2B2B url("../images/managementTips.png") no-repeat -2px -170px;position: relative;}
.manageNav .inform span {background: red;border-radius: 15px;color: #fff;position: absolute;font-size: 11px;left: 12px;padding: 2px 6px;top: -6px;}
.manageNav .logo .transform{width: 18px;height: 14px;margin-left: 14px;margin-top: 32px;background: url("../images/managementTips.png") no-repeat -298px -82px;float: left;}
.manageMenu{width: 240px;position: absolute;height: 100%;background: #3F3F3F;left: 0;}
.manageMenu .mainUser{height: 58px;padding: 16px;}
.manageMenu .mainUser .imgPlace{width: 58px;height: 58px;float: left;position: relative;}
.manageMenu .mainUser .namePlace{float: left;}
.manageMenu .mainUser .imgPlace .konImg{width: 58px;height: 58px;}
.manageMenu .mainUser .imgPlace .cen{position: absolute;top: 0;left: 0;}
.manageMenu .mainUser .namePlace p{color: #fff;font-size: 16px;padding-top: 5px;padding-left: 7px;}
.manageMenu .mainUser .namePlace p span{width: 10px;height: 6px;float: right; margin-top: 8px;margin-left: 7px;background: url("../images/managementTips.png") no-repeat -302px 0px;}
.manageMenu .mainUser .namePlace .little{font-size: 14px;}
.manageMenu .mainUser .imgPlace img{margin: 2px;}
.manageMenu ul li{cursor: pointer;-moz-transition: all .5s;-o-transition: all .5s; -webkit-transition: all .5s;transition: all .5s;position: relative;height: 60px;}
.manageMenu ul li:hover{background: #2B2B2B!important;-moz-transition: all .5s;-o-transition: all .5s; -webkit-transition: all .5s;transition: all .5s;}
.manageMenu ul li a{color: #fff;line-height: 60px;padding-left: 66px;font-size: 14px;background: url("../images/managementTips.png") no-repeat;float: left}
.manageMenu .target{width: 12px;height: 12px;background: #2B2B2B;margin-top: 24px;display: none;padding: 0;margin-left: 66px}
.manageMenu .target .plus{width: 12px;height: 12px;background: #2B2B2B url("../images/managementTips.png") no-repeat -301px -166px;float: left;}
.manageMenu .target .subtract{width: 12px;height: 12px;background: #2B2B2B url("../images/managementTips.png") no-repeat -301px -252px;float: left;}
.manageMenu ul li .manuBtn1{background-position: 35px 19px;}
.manageMenu ul li .manuBtn2{background-position: 35px -65px;}
.manageMenu ul li .manuBtn3{background-position: 35px -151px;}
.manageMenu ul li .manuBtn4{background-position: 35px -237px;}
.manageMenu ul li .manuBtn5{background-position: 35px -321px;}
.manageMenu ul li .manuBtn6{background-position: 35px -494px;}
.manageMenu ul li .manuBtn7{background-position: 35px -408px;}
.manageMenu ul li .active1{background-position: -125px 19px;color:#F4C505;}
.manageMenu ul li .active2{background-position: -125px -65px;color:#F4C505;}
.manageMenu ul li .active3{background-position: -125px -151px;color:#F4C505;}
.manageMenu ul li .active4{background-position: -125px -237px;color:#F4C505;}
.manageMenu ul li .active5{background-position: -125px -321px;color:#F4C505;}
.manageMenu ul li .active6{background-position: -125px -494px;color:#F4C505;}
.manageMenu ul li .active7{background-position: -125px -408px;color:#F4C505;}
.manageMenu ul li .hover1{background-position: -125px 19px;color:#F4C505;}
.manageMenu ul li .hover2{background-position: -125px -65px;color:#F4C505;}
.manageMenu ul li .hover3{background-position: -125px -151px;color:#F4C505;}
.manageMenu ul li .hover4{background-position: -125px -237px;color:#F4C505;}
.manageMenu ul li .hover5{background-position: -125px -321px;color:#F4C505;}
.manageMenu ul li .hover6{background-position: -125px -494px;color:#F4C505;}
.manageMenu ul li .hover7{background-position: -125px -408px;color:#F4C505;}
.manageMenu ul .conceal{width: 240px;display: none;}
.manageMenu ul .conceal .subMenu{width: 174px;height: 40px;line-height: 40px;color: #fff;padding-left: 66px;cursor: pointer;-moz-transition: all .5s;-o-transition: all .5s; -webkit-transition: all .5s;transition: all .5s;}
.manageMenu ul .conceal .subMenu:hover{color:#F4C505;background: #666666;-moz-transition: all .5s;-o-transition: all .5s; -webkit-transition: all .5s;transition: all .5s;}
.manageMenu ul .conceal .active{color:#F4C505;background: #666666;}





.menu ul li .subMenu{width: 260px;padding: 20px 20px 80px 20px;margin-left: 10px;margin-top: 12px;background: #fff;border: 1px solid #DDDDDD;}
.menu ul li .subMenu .moddle li a{margin-top: 5px;height: 30px!important;line-height: 30px!important;}
.menu ul li .subMenu .moddle-1 li:first-child{margin-top: 0;}
.menu ul li .subMenu .moddle-1{display: none;background: #fff;margin: 0;}
.menu ul li .subMenu .moddle-1 li a{padding-left: 19px;}
.bigClass{padding-left: 5px!important;line-height: 30px;
    background: none!important;}
.child-menu{position: absolute; top: 0px; left: 220px;width: 350px;display: none;}
.moddle .boun span{
    width: 7px;height: 14px;float: right;display: block;margin-top: 7px;cursor: pointer;margin-left: 8px;
    background: url('../images/icon.png') no-repeat -131px -120px;;
}
/*图标向上旋转*/
.hover-up{
    transition-duration: .5s;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
/*图标向下旋转*/
.hover-down{
    transition-duration: .5s;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
/*.menu {*/
/*transition: .1s;*/
/*}*/
.content{margin-left: 220px;}
.displayNone{display: none;}
.displayBlock{display: block!important;}
.now-place{height: 40px;background: #fff;}
.now-place p{line-height: 40px;font-size: 14px;padding-left: 40px;background: url("../images/icon.png") no-repeat -107px -65px;float: left;    white-space: nowrap;}
.hide-menu{width: 26px;height: 20px;background: url("../images/hidt-menu.png") no-repeat;margin-top: 20px;float: right;margin-right: 30px;position: relative;}
.hide-list{position: absolute;width: 90px;height: 100px;top: 20px;left: -34px;padding-top: 10px;}
.hide-list p{color:#fff;font-size: 14px;background: url(../images/icon.png) no-repeat;padding-left: 28px;padding-bottom: 10px;}
.hide-list  .user{background-position: -118px -162px;}
.hide-list  .edit{background-position: -118px -199px;}
.hide-list  .loadOut{background-position: -118px -239px;}
.addBac{padding-top: 10px;background: #656565;}


.contents .notice{width:450px;float: left;margin-top: 30px;margin-left: 40px;}
.contents .trend{width:450px;float: left;margin-top: 30px;margin-left: 40px;}
.contents .notice .title{color: #45C7DB;font-size: 16px;padding-left: 10px;}
.contents .notice .title span{color: #656565;font-size: 14px;float: right}
.contents .notice ul{background: #fff;margin-top: 15px;}
.contents .notice ul li{height: 50px;line-height: 50px;padding-left: 10px;padding-right: 10px;margin-bottom: 1px;}
.contents .notice ul li p{font-size: 14px;border-bottom: 1px solid #F5F5F5; }
@media screen and (max-width: 700px) {

    .contents .notice{
        width: auto;
        float: none;
    }
    .contents .trend{
        width: auto;
        float: none;
    }

}